{% extends "wiki/base_site.html" %}

{# Intentionally empty, to allow easy customization with no copy-paste #}


{% block wiki_site_title %} - Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/">VIKI</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'wiki:root' %}">HOME</a></li>
</ul>


{% endblock %}
